<form #form="ngForm">
    <div class="w-full h-full flex justify-center items-center">
        <div class="flex-col mt-6 py-4 border border-gray-300 w-5/12 px-4 rounded-lg shadow-xl">
            <div class="py-3 border-b mb-3 border-gray-500 w-full flex justify-between">
                <span class="text-2xl font-bold text-gray-700">Criar/Editar cliente</span>
            </div>

            <div class="block">
                <label class="mt-3" for="customer_name">Nome:<br></label>
                <input class="px-2 w-full border rounded-lg h-10 border-gray-600 bg-white mb-3" id="customer_name"
                    name="customer_name" type="text" required="true" [(ngModel)]="customerDTO.name">
            </div>

            <div class="block">
                <label class="mt-3" for="customer_cpf">CPF:<br></label>
                <input class="px-2 w-full border rounded-lg h-10 border-gray-600 bg-white mb-3" id="customer_cpf"
                    name="customer_cpf" type="text" required="true" [(ngModel)]="customerDTO.cpf">
            </div>

            <div class="block">
                <label class="mt-3" for="customer_phone">Telefone:<br></label>
                <input class="px-2 w-full border rounded-lg h-10 border-gray-600 bg-white mb-3" id="customer_phone"
                    name="customer_phone" type="tel" required="true" [(ngModel)]="customerDTO.phone">
            </div>

            <div class="block">
                <label class="mt-3" for="customer_address">Endereço:<br></label>
                <input class="px-2 w-full border rounded-lg h-10 border-gray-600 bg-white mb-3" id="customer_address"
                    name="customer_address" type="tel" required="true" [(ngModel)]="customerDTO.address">
            </div>

            <div class="w-full flex gap-3 px-2 mt-3">
                <button class="px-6 h-8 rounded-xl bg-green-500 hover:bg-green-400 text-white"
                    (click)="save()">
                    Salvar
                </button>

                <a class="cursor-auto text-gray-700 hover:underline" href="javascript:;"
                    routerLink="/customer">
                    voltar a listagem
                </a>
            </div>
        </div>
    </div>
</form>
